@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Pangolin&display=swap');
@import "tailwindcss";

@theme{
    --font-pangolin:"Pangolin";
    --font-sourgummy:"Sour Gummy";
    --font-caesar-dressing:"Caesar Dressing";
}